/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

/* Utilities */
.max-container {
  max-width: 1700px;
  margin: 6rem 10rem 3rem 10rem;
  /* margin-bottom: 3rem; */
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
  width: 200px;
  border-radius: 5px;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.login-pics {
  height: 1000px;
  width: 1200px;
  margin-top: -70px;
  overflow: hidden;
  z-index: -1;
  margin-left: 500px;
  position: fixed;
}

.event-red {
  color: #d32323;
  font-weight: bolder;
  font-size: 25px;
  height: 50px;
}

#attendee {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 30%;
}

#attendee td,
#attendee th {
  border: 1px solid #ddd;
  padding: 8px;
}

#attendee tr:nth-child(even) {
  background-color: #f2f2f2;
}

#attendee tr:hover {
  background-color: #ddd;
}

#attendee th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d32323;
  color: white;
}

.login-pics {
  height: 1000px;
  width: 1200px;
  margin-top: -90px;
  overflow: hidden;
  z-index: -1;
  margin-left: 500px;
  position: fixed;
}
